
.info {
    width: 100%;
    margin: 0 auto;
    max-width: 1170.4px;
    margin-top: 25px;
    box-sizing: border-box;
}

.info .scroll-button {
    padding-left: 38px;
    padding-bottom: 10px;
}

.info  .scroll-button button{
    font-size: calc(10px + 5 * (100vw - 320px) / 880);
}

.info-block {
    --gap: 15px; 
    --row-gap: 10px;  
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-template-rows: repeat(2, auto);
    row-gap: var(--row-gap);
    column-gap: var(--gap);
    margin-top: 25px;
    align-items: start;  
    box-sizing: border-box;
}

.info-block .mini-info {
    display: grid;
    justify-content: baseline;
    align-content: baseline;
    justify-items: baseline;
    background-color: #202020;
    border-radius: 15px;
    box-sizing: border-box;

    height: clamp(100px, calc((100vw - 2 * var(--gap)) / 8), 178.57px);
    min-height: 80px;
    width: 100%;
}

.info-block .mini-info h1{
    padding-left: 40px;
    font-size: calc(16px + 16 * (100vw - 320px) / 700);
    padding: 0px;
    padding-left: calc(100vw * 0.01965);
    margin: 0px;
}

.info-block .mini-info h2{
    font-size: calc(8px + 6 * (100vw - 320px) / 700);
    font-weight: 700;
    padding: 0px;
    padding-left: calc(100vw * 0.01965);
    margin: 0px;
}

.info-block .mini-info p{
    font-weight: 400;
    font-size: calc(6px + 6 * (100vw - 320px) / 700);
    padding: 0px;
    line-height: 125%;
    padding-left: calc(100vw * 0.01965);
    margin: 0px;
}


.info-block .map {
    position: relative;
    overflow: hidden; 
    border-radius: 15px;
    grid-column: 3;
    grid-row: 1 / span 2;
    padding: 12px;
    box-sizing: border-box;
    background-color: transparent;
    height: calc( (clamp(100px, calc((100vw - 2 * var(--gap)) / 8), 178.57px)) * 2 + var(--row-gap) );
    min-height: 160px;
    overflow: hidden; 
    border-radius: 15px; 
    padding: 0;  
    background: transparent;
}

.info-block .map > div {
    width: 100% !important;
    height: 100% !important;
    border-radius: 15px;
}

.info p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 750;
    font-size: calc(10px + 6 * (100vw - 320px) / 700);
    margin-bottom: 20px;
    text-align: left;
    white-space: nowrap;
}


.info {
    width: 100%;
    margin: 0 auto;
    max-width: 1170.4px;
    margin-top: 25px;
    box-sizing: border-box;
}

.info .scroll-button {
    padding-left: 38px;
    padding-bottom: 10px;
}

.info  .scroll-button button{
    font-size: calc(10px + 5 * (100vw - 320px) / 880);
}

.info-block {
    --gap: 15px; 
    --row-gap: 10px;  
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-template-rows: repeat(2, auto);
    row-gap: var(--row-gap);
    column-gap: var(--gap);
    margin-top: 25px;
    align-items: start;  
    box-sizing: border-box;
}

.info-block .mini-info {
    background-color: #202020;
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;

    height: clamp(100px, calc((100vw - 2 * var(--gap)) / 8), 178.57px);
    min-height: 80px;
    width: 100%;
}

.info-block .map {
    background-color: transparent;
    grid-column: 3;
    grid-row: 1 / span 2;
    padding: 12px;
    box-sizing: border-box;
    overflow: hidden; 
    border-radius: 15px; 
    padding: 0;  
    background: transparent;
    height: calc( (clamp(100px, calc((100vw - 2 * var(--gap)) / 8), 178.57px)) * 2 + var(--row-gap) );
    min-height: 160px;
}

.info p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 750;
    font-size: calc(10px + 6 * (100vw - 320px) / 700);
    margin-bottom: 20px;
    text-align: left;
    white-space: nowrap;
}



@media screen and (max-width: 700px) {
    .info {
        max-width: 100%;
        margin-top: 16px;
    }

    .info .scroll-button {
        padding-left: 0;
        padding-bottom: 10px;
        font-size: calc(12px + 6 * (100vw - 320px) / 700);
    }

    .info-block {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        row-gap: 12px;
        column-gap: 15px;
        --gap: 15px;
        --row-gap: 12px;
    }

    .info-block .mini-info {
        height: clamp(80px, calc((100vw - var(--gap)) / 4), 178.57px);
        min-height: 80px;
        padding: 15px;
        border-radius: 7.15px;
    }

    .info-block .map {
        grid-column: 1 / span 2;
        grid-row: 3;
        margin-left: 0;
        margin-top: 10px;

        height: calc( (clamp(80px, calc((100vw - var(--gap)) / 4), 178.57px)) * 2 + var(--row-gap) );
        min-height: 150px;
        border-radius: 7.15px;
    }

    .info .scroll-button button {
        margin-top: 20px;
        font-size: calc(10px + 10 * (100vw - 320px) / 700);
    }

    .info p {
        font-weight: 750;
        font-size: calc(10px + 10 * (100vw - 320px) / 700);
        white-space: wrap;
    }
    

    .info-block .mini-info h1{
        font-size: calc(16px + 20 * (100vw - 320px) / 700);
        padding-left: calc(11.02px + (23px - 11.02px) * ((100vw - 320px) / (1170.4 - 320)));
        margin: 0;
}

.info-block .mini-info h2{
    font-size: calc(8px + 20 * (100vw - 320px) / 700);
    font-weight: 700;
    padding: 0px;
    padding-left: calc(100vw * 0.01965);
    margin: 0px;
}

.info-block .mini-info p{
    font-weight: 400;
    font-size: calc(6.5px + 20 * (100vw - 320px) / 700);
    padding: 0px;
    line-height: 125%;
    padding-left: calc(100vw * 0.01965);
    margin: 0px;
}

    
    



}