.hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  justify-content: space-between; 
  column-gap: 15px;
  margin: 0 auto;
  align-items: stretch;
  width: 100%;
  max-width: 1170.4px;
  height: 600px;
}

.hero-content-left {
  display: grid;
  max-width: 578px;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px; 
}

.hero-content-left-big {
  grid-column: 1 / -1;
  background: hsl(0, 0%, 25%);
  text-align: center;
  padding: 75px 54px 73px 34px; 
  border-radius: 25px;
}

.hero-content-left-small {
  background: hsl(0, 0%, 25%);
  text-align: center;
  border-radius: 25px;
}

.hero-content-right {
  background: hsl(0, 0%, 35%);
  width: 100%;
  max-width: 578px;
  min-width: 288px;
  border-radius: 25px;
}


@media screen and (max-width: 700px)  {
    .hero-section {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
    row-gap: 15px;
    margin: 0 auto;
  }

  .hero-content-left,
  .hero-content-right {
    margin: 0 auto;
    max-width: 100%; 
  }
}