.hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  column-gap: 15px;
  margin: 0 auto;
  width: 100%;
  max-width: 1170.4px;

  height: calc(100vw / 1.95);
  max-height: 600px;
  min-height: 400px;

  align-items: stretch;
  box-sizing: border-box;
}

.hero-content-left {
  display: grid;
  max-width: 578px;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  height: 100%;
  box-sizing: border-box;
}

.hero-content-left-big {
  grid-column: 1 / -1;
  background: hsl(0, 0%, 25%);
  text-align: center;
  padding: 75px 54px 73px 34px;
  border-radius: 25px;
  box-sizing: border-box;
  height: 100%;
}

.hero-content-left-small {
  background: hsl(0, 0%, 25%);
  text-align: center;
  border-radius: 25px;
  box-sizing: border-box;
  height: 100%;
}

.hero-content-right {
  background: hsl(0, 0%, 35%);
  width: 100%;
  max-width: 578px;
  min-width: 288px;
  border-radius: 25px;
  box-sizing: border-box;
  height: 100%;
}

.LogoImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 700px) {
  .hero-section {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
    row-gap: 15px;
    margin: 0 auto;

    height: auto;
    min-height: auto;
    max-height: none;
  }

  .hero-content-left,
  .hero-content-right {
    margin: 0 auto;
    max-width: 100%;
    aspect-ratio: 1.3 / 1; 
  }

  .hero-content-left-big {
    padding: 40px 24px;
  }
}