.info {
    width: 100%;
    margin: 0 auto;
    max-width: 1170.4px;
    margin-top: 25px;
    box-sizing: border-box;
}

.info .scroll-button {
    padding-left: 38px;
    padding-bottom: 10px;
}

.info-block {
    display: grid;
    width: 100%;
    height: 100%;
    max-height: 370px;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-top: 25px;
}

.info-block .mini-info {
    width: 100%;
    background-color: #202020;
    height:  178.57px;
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;
}

.info-block .map {
    background-color: #f0f0f0;
    height: 100%;
    border-radius: 15px;
    grid-column: 3;
    grid-row: 1 / span 2;
}

.info p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 750;
    font-size: calc(10px + 6 * (100vw - 320px) / 700);
    margin-bottom: 20px;
    text-align: left;
    white-space: nowrap ;
}