
.info {
    width: 100%;
    margin: 0 auto;
    max-width: 1170.4px;
    margin-top: 25px;
    box-sizing: border-box;
}

.info .scroll-button {
    padding-left: 38px;
    padding-bottom: 10px;
}

.info-block {
    --gap: 15px; 
    --row-gap: 10px;  
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-template-rows: repeat(2, auto);
    row-gap: var(--row-gap);
    column-gap: var(--gap);
    margin-top: 25px;
    align-items: start;  
    box-sizing: border-box;
}

.info-block .mini-info {
    background-color: #202020;
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;

    height: clamp(100px, calc((100vw - 2 * var(--gap)) / 8), 178.57px);
    min-height: 80px;
    width: 100%;
}

.info-block .map {
    background-color: #f0f0f0;
    border-radius: 15px;
    grid-column: 3;
    grid-row: 1 / span 2;
    padding: 12px;
    box-sizing: border-box;

    height: calc( (clamp(100px, calc((100vw - 2 * var(--gap)) / 8), 178.57px)) * 2 + var(--row-gap) );
    min-height: 160px;
}

.info p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 750;
    font-size: calc(10px + 6 * (100vw - 320px) / 700);
    margin-bottom: 20px;
    text-align: left;
    white-space: nowrap;
}

@media screen and (max-width: 700px) {
    .info {
        max-width: 100%;
        margin-top: 16px;
    }

    .info .scroll-button {
        padding-left: 0;
        padding-bottom: 10px;
        font-size: calc(12px + 6 * (100vw - 320px) / 700);
    }

    .info-block {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        row-gap: 12px;
        column-gap: 15px;
        --gap: 15px;
        --row-gap: 12px;
    }

    .info-block .mini-info {
        height: clamp(80px, calc((100vw - var(--gap)) / 4), 178.57px);
        min-height: 80px;
        padding: 15px;
        border-radius: 7.15px;
    }

    .info-block .map {
        grid-column: 1 / span 2;
        grid-row: 3;
        margin-left: 0;
        margin-top: 10px;

        height: calc( (clamp(80px, calc((100vw - var(--gap)) / 4), 178.57px)) * 2 + var(--row-gap) );
        min-height: 150px;
        border-radius: 7.15px;
    }

    .info .scroll-button button {
        margin-top: 20px;
        font-size: calc(10px + 10 * (100vw - 320px) / 700);
    }

    .info p {
        font-weight: 750;
        font-size: calc(10px + 10 * (100vw - 320px) / 700);
        white-space: wrap;
    }


}