.services-component {
    display: grid;
    column-gap: 25px;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1170.4px;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 25px;

}

.services-button-serv  {
    display: grid;
    justify-content: start;
    max-width: 1170.4px;
    width: 100%;
    grid-template-columns: 1fr;
    margin: 0 auto; 
    box-sizing: border-box;
}

.services-button-serv .scroll-button {
    padding-left: 38px;
    padding-bottom: 10px;
}

@media screen and (max-width: 700px) { 
    .services-component {
        display: grid;
        row-gap: 30px;
        margin: 0 auto;
        justify-content: center;
        justify-items: center; 
        grid-template-columns: 1fr;
        max-width: 100%;
        width: 100%;
        margin-top: 25px;
        padding: 0 16px;
        box-sizing: border-box;
    }


    .services-button-serv  {
        display: grid;
        justify-content: center;
        max-width: 100%;
        width: 100%;
        height: 50px;
        grid-template-columns: 1fr;
        margin: 0 auto; 
        box-sizing: border-box;
        margin-top: 30px;
        margin-bottom:18px;
    }

    .services-button-serv .scroll-button {
        height: 18px;
        padding-left: 0px;
        padding-bottom: 0px;
        font-size: calc(12px + 4 * (100vw - 320px) / 700);
        justify-self: start; 
        padding-left: 16px;
    }


}