.services-component {
    display: grid;
    column-gap: 15px;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1170.4px;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 25px;
    padding-right: 15px;
}